<h1>All medias</h1>
<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModalCenter" align="right">
    New Media
</button>
<br>
<span class="border border-primary"></span>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Media title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">link</a>
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
                <a href="#">tag 1</a>
                <a href="#">tag 2</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Media title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">link</a>
            </div>
        </div>
    </div> --}}

</div>